<!DOCTYPE html>
<html lang="ja">
<!-- https://reffect.co.jp/vue/chart-jsvue-jsaxios-display-graph -->

<head>
    <meta charset="UTF-8">
    <title>Chart.js+Vue.js+Axios</title>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Foundation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
</head>

<body>
    <div id="app" style="width:full; height: full;">
        <p><button @click="displayGraph">グラフ表示</button></p>
        <canvas id="myChart" style=" margin-left: auto; margin-right: auto; padding: 20px; "></canvas>
        <!-- <h1>{{timeWight}}</h1>
        <h2>Test2</h2>
        <h3>Test3</h3> -->
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                timeWight: [],
                time_array: [],
                weight_array: []
            },
            methods: {
                displayGraph: function () {
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: this.time_array,
                            datasets: [{
                                label: '実験データ',
                                data: this.weight_array,
                                tension: 0, // 折れ線の曲率
                                backgroundColor: "rgba(153,255,51,0.4)"
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'マルチコプターペイロード負荷試験',
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'time',
                                        fontFamily: 'monospace',
                                        fontSize: 14
                                    },
                                    stacked: false,
                                    gridLines: {
                                        display: true    // 目盛を表示
                                    },
                                    ticks: {
                                        reverse: false,  // 逆向き目盛
                                        stepSize: 10, // メモリ間隔
                                        min: 0, // 原点表示
                                        // max: 50,
                                        callback: function (value) { return ((value % 10) == 0) ? value : '' } // 10感覚でメモリを振る
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'weight',
                                        fontFamily: 'monospace',
                                        fontSize: 14
                                    },
                                    ticks: {
                                        reverse: false,  // 逆向き目盛
                                        stepSize: 1, // メモリ間隔
                                        min: 0, // 原点表示
                                        // max: 50,
                                        callback: function (value) { return ((value % 10) == 0) ? value : '' }　// 10感覚でメモリを振る
                                    }
                                }]

                            }

                        }
                    });
                }
            },
            mounted: function () {
                axios
                    .get('api/csv')
                    .then(response => {
                        this.timeWight = response.data
                        this.time_array = [...response.data].map(value => value.time) // スプレッド演算子 + map()関数
                        this.weight_array = [...response.data].map(value => value.weight) // http://www.art-side.com/archives/579
                        this.displayGraph(); // このメソッドを各場所はここ
                    })
                    .catch(response => console.log(response))
            }
        })
    </script>
</body>

</html>